flask>=3.0.3
flask-cors>=4.0.0
flask-sqlalchemy>=3.1.1
flask-migrate>=4.0.5
flask-bcrypt>=1.0.1
flask-socketio>=5.3.6
flask-caching>=2.1.0
flask-jwt-extended>=4.6.0
Flask-WTF==1.1.1
Flask-Login==0.6.3
flasgger>=0.9.7.1
gunicorn==21.2.0
Werkzeug>=3.0.0
blinker>=1.9.0
WTForms==3.0.1
python-dotenv>=1.0.1
python-dateutil>=2.8.2

# Database
psycopg2-binary>=2.9.9
sqlalchemy>=2.0.29
asyncpg>=0.29.0
alembic>=1.13.1

# Pydantic for config
pydantic>=2.6.4
pydantic-settings

# Security
pyjwt>=2.8.0
bcrypt>=4.1.2

# Cache
redis>=5.0.3

# Serialization
marshmallow>=3.20.1

# Image handling, CV, ML
opencv-python
albumentations>=1.4.0
ultralytics>=8.3.0
numpy<2.0.0
onnxruntime

# Qdrant
qdrant-client>=1.8.0

# HTTP
requests>=2.31.0

# PDF and Excel generation
reportlab>=4.0.4
openpyxl>=3.1.0
pandas>=2.0.0

# Utils
psutil

# Linting & dev
black>=24.3.0
isort>=5.13.2
mypy>=1.8.0
